body {
  background-color: #FFFFEE; /* 薄い黄色 */
  color: #333;
  font-family: 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Meiryo', sans-serif;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.App-header {
  background-color: #4682B4; /* 青みがかった緑色 */
  padding: 60px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  font-size: calc(20px + 5vmin);
  margin: 0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.App-header nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* 中央揃えにする場合 */
  flex-wrap: wrap; /* 画面幅が狭い場合に折り返す */
}

.App-header nav a {
  color: white;
  margin: 0 15px; /* リンク間の余白 */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.App-header nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.catchphrase-section {
  position: relative;
  padding: 100px 20px;
  color: white;
  overflow: hidden;
}

.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80') no-repeat center center/cover;
  animation: zoom-in-out 20s ease-in-out infinite;
  z-index: -1;
}

@keyframes zoom-in-out {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.catchphrase-section h2 {
  font-size: calc(18px + 4vmin);
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}



main {
  padding: 20px;
  flex: 1;
}


.section {
  max-width: 960px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.05);
}

.section h2 {
  font-size: 2.5rem;
  color: #2E8B57;
  margin-bottom: 30px;
}





.App-footer {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-top: 60px;
}



/* レスポンシブ対応 */
@media (max-width: 768px) {
  .president-section {
    flex-direction: column;
  }
  .App-header h1 {
    font-size: calc(18px + 6vmin);
  }
  .catchphrase-section h2 {
    font-size: calc(16px + 5vmin);
  }
}

.App-header h1 a {
  color: white;
  text-decoration: none;
}