:root {
  --color-primary: #245d4c;
  --color-primary-rgb: 36, 93, 76;
  --color-dark: #1f2a24;
  --color-dark-rgb: 31, 42, 36;
  --color-cream: #f7f5ef;
  --color-footer: #26332d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
